body {
    font-family: Arial, sans-serif;
    background-color: #166cc2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.password-generator {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #1c2b4a;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #1c2b4a;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    width: 100%;
    background-color: #1c2b4a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #14243b;
}

input[type="text"] {
    width: calc(100% - 20px); /* subtrai o padding do tamanho total */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}